<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <!-- print thank you message-->
        <p> Thank you for submitting the form. You submitted:</p>
        <!-- print the content of the form submission using EJS -->
        <%=JSON.stringify(body)%>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>